autom4te.cache/*
*~
*.o
.deps
Makefile
.dirstamp
*.a
summary.sh
config.log
config.h
config.status
confpaths.h
pathdefs.make
paths.defs
stamp-h1
telnet/telnet
telnetd/telnetd
lib/termios.h
lib/time.h
lib/unistd.h
lib/wchar.h
lib/wctype.h
lib/alloca.h
lib/arpa/
lib/ctype.h
lib/dirent.h
lib/fcntl.h
lib/getopt-cdefs.h
lib/getopt.h
lib/inttypes.h
lib/langinfo.h
lib/limits.h
lib/locale.h
lib/netdb.h
lib/poll.h
lib/pty.h
lib/signal.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/strings.h
lib/sys/
